        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            width: 300px;
            height: auto;
            border: 20px solid peru;
            background-color: blanchedalmond;
            padding: 10px;
            margin: 20px auto;
        }

        #inputBox,
        #percent,
        #outputBox {
            width: 100%;
            height: auto;
            border: 5px solid gray;
            padding: 5px;
            font-size: 20px;
            background-color: tomato;
            color: wheat;
            font-weight: bold;
        }

        #percent {
            width: 50%;
            background-color: coral;
        }

        #outputBox {
            background-color: lightcoral;
        }

        #buttonPerc {
            background-color: #333;
            border: 5px solid gray;
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
            color: wheat;
            width: 50%;
        }

        #buttonPerc:hover {
            cursor: pointer;
            color: red;
            background-color: #000;
            transition: .5s;
        }